
.imageHold {
    float: left;
    background-color: orange;
    height: 100%;
    font-size: 2rem;
    width: 10%;
    margin: 0.5%;
}

.descript {
    color: gray;
    font-weight: bold;
}

.text {
    /*padding-left: 350px;*/
    
    margin: 0.5%;
    margin-left: 12%;
    padding-left: 0.5%;
    text-align: left;
    border: 1px solid orange;
}

.title {
    color: orange;
}

.outter {
    margin: 0 auto;
    margin-top: 5%;
    border: 2px solid blue;
    width: 50%;
}

